$primary_color: #c0c0c0;    
$primary_color--dark: #808080;
$alarm_color: #f80000;    
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,700&display=swap'); 
@font-face{
    font-family: 'DSDIGI';
	src: url('/Assets/DSDIGI.eot');
	src: local('DSDIGI'), url('../Assets/DSDIGI.woff') format('woff'), url('../Assets/DSDIGI.ttf') format('truetype');
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato' 'Arial' 'sans-serif';
}
html{
    font-size:  10px;
}

body{
    background-image: url(../Assets/concrete_seamless.png);
    background-repeat: repeat;
}

.game{
background-color: $primary_color;
padding: 1.5rem;
max-width: 35.6rem;
margin-left: auto;
margin-right: auto;
    &__board{
        display: flex;
        flex-wrap: wrap;  
    }
    &--medium{
        max-width: 45rem;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    &__counter{
        background-color: black;
        color: $alarm_color;
        padding: 0.5rem;
        font-family: 'DSDIGI';
        font-size: 3.2rem;
        min-width: 8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__button{
        width: 4.8rem;
        height: 4.8rem;
    }
    &__reset{
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        background-color: $primary_color;
    }
    

}
.panel__header{
    text-align: center;

}
.panel__button {
display: flex;
}

.button{
    flex: 1 ;
    padding-top: 0.2em 0.5rem;
    padding-bottom: 0.2em 0.5rem;
    cursor: pointer;
    font-size: 2.4rem;
}
.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.7);
    

    &__content{
       width: 50vw;
       height: 50vh;
       background-color: #fff;
       display: flex;
       flex-direction: column;
       align-items: center; 
       justify-content: space-around;
    }
    &__text{
        font-size: 4.4rem;
        align-items: center;
    }
    &__button{
        cursor: pointer;
        padding: 1rem 2rem;
        border: 3px solid black;
        outline: none;
        font-size: 2rem;
        transition: color 0.2s ease-out, background-color 0.2s ease-out, border 0.2 s ease-out;
        &:hover{
            background-color: black;
            color: white;
            border: 3px solid black;
        }
    }   
}

.cell{
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'lato';
    font-weight: bold;
    font-size: 2rem;
    
}
.cell--flag {
    background-image: url(../Assets/flag.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.5rem;
}
.cell--mined{
    background-image: url(../Assets/bomb.svg);
    background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
}

.text--colour-1{
    color: blue;
}
.text--colour-2{
    color: green;
}
.text--colour-3{
    color: red;
}
.text--colour-4{
    color: navy;
}
.text--colour-5{
    color: darkred;
}
.text--colour-6{
    color: darkgreen;
}
.text--colour-7{
    color: black;
}
.text--colour-8{
    color: grey;
    }

.modal--hiden{
    visibility: hidden;
}
.border{
border:.3rem solid
}
.border--convex{
border-color: $primary_color--dark #fff #fff $primary_color--dark;
}
.border--concave{
border-color:  #fff $primary_color--dark $primary_color--dark #fff;
}
.border--revealed{
border: 1px solid $primary_color--dark;
}